html::-webkit-scrollbar {
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --background-color: #ececec;
  --foreground-color: #4061ae;
  --primary-text-color: #1c1c1c;
  --secondary-text-color: #fff;
  --toggle-bg: #f0eacc;
  --toggle-fg: #efde70;
  --cardbody-bg: #fdfeff;
  --cardbody-fg: #222324;
  --cardfooter-bg: #e8e9e9;
  --cardfooter-fg: #000000;

}
[data-theme='dark']{
  --background-color: #060505;
  --foreground-color: #4061ae;
  --primary-text-color: #ffffff;
  --secondary-text-color: #fff;
  --toggle-bg: #353434;
  --toggle-fg: #4752c9;
  --cardbody-bg: #17202A;
  --cardbody-fg: #f1f2f4;
  --cardfooter-bg: #6b6c6d;
  --cardfooter-fg: #ff0000;
}
